<launch>
   <!-- <node name="arduino" pkg="robot_bringup" type="robot_driver.py" output="screen">
      <rosparam file="$(find robot_bringup)/config/robot_params.yaml" command="load" />
   </node> -->
   <include file = "$(find robot_bringup)/launch/minimal.launch"/>

  <!-- <node name="rplidarNode"          pkg="rplidar_ros"  type="rplidarNode" output="screen">
  <param name="serial_port"         type="string" value="/dev/rplidar"/>  
  <param name="serial_baudrate"     type="int"    value="230400"/>
  <param name="frame_id"            type="string" value="laser_frame"/>
  <param name="inverted"            type="bool"   value="false"/>
  <param name="angle_compensate"    type="bool"   value="true"/>
  </node> -->
  <include file = "$(find rplidar_ros)/launch/rplidar.launch"/>
 <include file="$(find robot_description)/launch/robot_description.launch"/>
  
  <!-- Map server -->
  <arg name="map" default="$(find robot_navigation)/maps/blank_map.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map)" />

  <arg name="initial_pose_x" default="0.0"/> <!-- Use 17.0 for willow's map in simulation -->
  <arg name="initial_pose_y" default="0.0"/> <!-- Use 17.0 for willow's map in simulation -->
  <arg name="initial_pose_a" default="0.0"/>
  <include file="$(find robot_navigation)/launch/amcl.launch.xml">
    <arg name="initial_pose_x" value="$(arg initial_pose_x)"/>
    <arg name="initial_pose_y" value="$(arg initial_pose_y)"/>
    <arg name="initial_pose_a" value="$(arg initial_pose_a)"/>

    <!-- param name="initial_cov_xx" value="20" /-->
    <!-- param name="initial_cov_yy" value="20" /-->
    <!-- param name="initial_cov_zz" value="20" /-->
  </include>
<include file="$(find robot_navigation)/launch/move_base_global_planner.launch" />
	

</launch>
