<launch>
	<!-- <node name = "arduino" pkg="robot_bringup" type = "robot_driver.py" output = "screen">
		<rosparam file = "$(find robot_bringup)/config/robot_params.yaml" command = "load" />
	</node> -->
	<include file = "$(find robot_bringup)/launch/minimal.launch"/>

	<!-- <node name = "rplidarNode" 			pkg = "rplidar_ros"	type = "rplidarNode"	output = "screen">
		<param name = "serial_port"		type = "string"		value = "/dev/rplidar" />
		<param name = "serial_baudrate"		type = "int"		value = "230400" />
		<param name = "frame_id"		type = "string"		value = "laser_frame" />
		<param name = "inverted"		type = "bool"		value = "false" />
		<param name = "angle_compensate"	type = "bool"		value = "true" />
	</node>  -->
	<include file = "$(find rplidar_ros)/launch/rplidar.launch"/>

	<include file = "$(find robot_description)/launch/robot_description.launch" />


	<include file = "$(find robot_navigation)/launch/gmapping.launch" />
	<include file = "$(find robot_navigation)/launch/move_base.launch"/>

</launch>
