<launch>

  <node pkg="leg_detector" type="leg_detector" name="leg_detector" output="screen" args="scan:=scan $(find leg_detector)/config/trained_leg_detector.yaml">
  	<param name = "fixed_frame" value = "odom" />
	<param name = "leg_pair_separation" value = "0.5" />
	

<!-- -->
        <param name = "leg_reliability_limit" value = "0.4" /> 
	<param name = "publish_people_markers" value = "True" />
	<param name = "publish_people" value = "True" />

	<param name = "publish_leg_markers" value = "True" />
        <param name = "publish_legs" value = "True" />

        <param name = "connection_threshold " value = "0.06" />
        <param name = "min_points_per_group" value = "5" />
  </node>


</launch>

