<launch>
	<param name="use_sim_time" value="false" />
	 <include file="$(find robot_description)/launch/robot_description.launch"/>
 	<node pkg="tf" type="static_transform_publisher" name="base_link_to_laser4"   args="0.0 0.0 0.2 2.8 3.1415926  0.0 /base_link /laser_frame 40" />
	 
 	

 	<!-- Set the name of the map yaml file: can be overridden on the command line. -->
	<arg name="map" default="map_3_62.yaml" />

	<!-- Run the map server with the desired map -->
	<node name="map_server" pkg="map_server" type="map_server" args="$(find can_nav)/maps/$(arg map)"/>

	<!-- initial move_base -->
	<include file="$(find robot_navigation)/launch/simulation_move_base.launch" />

	<node pkg="fake_localization" type="fake_localization" name="fake_localization" clear_params="true" output="screen">
     		<remap from="base_pose_ground_truth" to="odom" />
     		<param name="global_frame_id" value="map" />
     		<param name="base_frame_id" value="base_footprint" />
     	</node>	
</launch>
